<div class="container-fluid house-description">
  <h1 id="title">List of Properties - <%=@area.name.upcase%></h1>
  <br>

  <!-- <input type=”text” name=”query” id=”query”> -->

  <div class = "house-form-search">
  <div class="row">
  <div class="col-12 col-md-8 form-left"><%= simple_form_for :search, url: area_houses_path(@area), method: :get do |f| %>
  <%= f.input :bedroom, collection: 1..6 %>
  <%= f.input :bathroom, collection: 1..3 %>
  <%= f.input :price, :label => "Price less than", collection: [300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000] %></div>
  <div class="col-6 col-md-4 form-right"><%= f.button :submit, 'Search', :class => "form-button" %>
    <% end %></div>
  </div>
</div>

  <% if @houses.empty?%>
  <h7>No results match your search</h7>
  <% end %>
  <br>

  <div class="cards house-description">
    <% @houses.each do |house| %>
      <div class="special-card">
        <%= image_tag "houses/#{house.photo}", class: "img" %><br>
        <div class="house-card-info">
          <h7 class = house-price>£<%= number_with_delimiter(house.price)%></h7>
          <p><i class="fas fa-map-marked-alt">&nbsp;</i><%= house.address%></p>
          <p><i class="fas fa-bed">&nbsp;</i> <%= house.bedroom%></p>
          <p><i class="fas fa-bath">&nbsp;</i> <%= house.bathroom%></p>
          <div class="btn-hold">
          <h8><%= link_to 'See Property', area_house_path(house.area_id, house),class: "btn-ghost"%></h8>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="btn btn-main">
      <%= link_to'Back to Areas', search_path(current_user.searches.last), class: "button" %>
      </div>
</div>


