<div class="container">
  <h1 id="title">Property Details</h1>
  <br>
      <div class= "items">
        <div class="card-category">
          <%= image_tag "logo.png" %>
        </div>
        <div class="card-category">
        <br>
          <ul>
            <p> Price: £<%= @house.price%></p>
             <p> Address: <%= @house.address%></p>
             <p>Postcode: <%= @house.postcode %></p>
             <p>Bedrooms: <%= @house.bedroom %></p>
             <p> Bathrooms: <%= @house.bathroom%> </p>
             <p> Description: <%= @house.description%> </p>
             <p> Square Feet: <%= @house.square_feet%> </p>
             <p> Council Tax: </p>
             <% @house.council_tax["council_tax"].each do |band, value| %>
              <p><%= band %>: £<%= value %></p>
             <% end %>
             <p> Green Belt: <%= @house.green_belt%> </p>
             <p> Restaurants: <%= @house.restaurants%> </p>
          </ul>
          <br>
      </div>
    </div>
    <br>
</div>
<br>


