

<div class="banner">
    <div class="intro">
         <h1>Welcome to <strong>Property AI</strong>!</h1>
         <p>Here in this website our goal is to help you find your dream house. But not just that... The dream house in the dream neighbourhood. </p>
          <div class="btn btn-main">
           <%= link_to'Let\'s get you started!', new_search_path, class: "button" %>
          </div>
    </div>
   <form class="quick_search">
    <h3>Quick Search</h3>
    <br />
     <div class="form-group">
       <input type="email" class="form-control" placeholder="Area">
     </div>
     <div class="form-group">
       <input type="password" class="form-control" placeholder="Your budget">
     </div>
     <br />
     <div class="btn btn-main">
       <%= link_to'Search', new_user_session_path, class: "button" %>
     </div>
   </form>
</div>


        <div class="description">
           <div class="card">
 <%= image_tag "carousel1.png" %>
  <div class="card-body">
    <h5 class="card-title">We bring property search to the next level</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>

<div class="card">
 <%= image_tag "carousel2.png" %>
  <div class="card-body">
    <h5 class="card-title">Searching your dream house, not just about how many bathrooms you want</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>

<div class="card">
 <%= image_tag "carousel3.png" %>
  <div class="card-body">
    <h5 class="card-title">Detailed neighbourhood chekcking</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>
            </div>


