

  <div class="banner">
    <div class='card radius'>
      <h1>Welcome to <strong>Property AI</strong>!</h1>
      <br />
      <h5>Here in this website our goal is to help you find your dream house. But not just that... The dream house in the dream neighbourhood. </h5>
      <br />
      <div class="btn btn-main">
      <%= link_to'Let\'s get you started', new_search_path, class: "button" %>
      </div>
    </div>
  </div>


<div class="cards-base">
  <div class="card radius-left">
    <%= image_tag('house.gif') %>
    <br />
    <h6 class="card-title">We bring property search to<br />the next level</h6>
  </div>
  <div class="card radius-left">
    <%= image_tag('house4.gif') %>
    <br />
    <h6 class="card-title">Forget the usual filters</h6>
  </div>
  <div class="card radius-right">
    <%= image_tag('house3.gif') %>
    <br />
    <h6 class="card-title">We make your search easier</h6>
  </div>
</div>

<h2 class="cards_header">Most popular areas</h2>
<div class="cards-base">
  <div class="card radius-left">
    <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919205/areas/camden_sqpnfr.jpg") %>
    <br />
      <p><strong>Camden</strong></p>
      <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
<div class="card">
  <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919205/areas/hackney_wm9jn1.jpg") %>
  <br />
      <p><strong>Hackney</strong></p>
      <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
<div class="card radius-right">
  <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919196/areas/wandsworth_vri1rf.jpg") %>
  <br />
      <p><strong>Wandsworth</strong></p>
      <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
</div>

<h2 class="cards_header">Recently added houses</h2>
<div class="cards-base">
  <div class="card radius-left">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919206/livingrooms/livingroom6_nawmrl.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919200/bedrooms/bedroom6_fwrjoa.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919199/kitchens/kitchen6_yhchl8.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919201/bathrooms/bathroom6_uhd2v4.jpg") %>
        </div>
      </div>
    </div>
    <br />
    <p>12 St. Peter's street<br /><strong>CAMDEN</strong><br />for £492,176</p>
    <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
  <div class="card">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919204/livingrooms/livingroom3_js82us.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919202/bedrooms/bedroom3_fapibo.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919202/kitchens/kitchen3_vn6rjx.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919201/bathrooms/bathroom3_gjpjxp.jpg") %>
        </div>
      </div>
    </div>
     <br />
    <p>89 King Road<br /><strong>WANDSWORTH</strong><br />for £515,263</p>
    <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
  <div class="card radius-right">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919203/livingrooms/livingroom2_unhq4t.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919200/bedrooms/bedroom2_wo3mfb.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919201/kitchens/kitchen2_sffzl8.jpg") %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568919202/bathrooms/bathroom2_qura2z.jpg") %>
        </div>
      </div>
    </div>
     <br />
    <p>354 Huffelpuff Road<br /><strong>LAMBETH</strong><br />for £478,853</p>
    <div class="btn btn-main">
      <%= link_to'More info', new_search_path, class: "button" %>
      </div>
  </div>
</div>


