    <div class="area-show-container">
      <div>
        <%= render "shared/jump" %>
      </div>
      <h2 id="crime">Crime</h2>
     <div class="container-fluid area-back">
       <div class="row">
         <div class="price-chart col-xs-12 col-md-6 col-lg-8">
            <%= bar_chart @area.crime["types"], title: "Breakdown of crime by type",  xtitle: "per 1000 population", ytitle: "Type of Crime" %>

            <p class="text-center"><%="Crime Type Definitions" %> <%= link_to "" , "https://www.met.police.uk/sd/stats-and-data/met/crime-type-definitions/", target: "_blank", class: "fas fa-info-circle", data: { toggle: "tooltip"}, title: "Crime Type Definitions"  %></p>
         </div>
       </div>
     </div>



    <div class="container-fluid area-back my-3 ">
      <div class="row">
        <div class="price-chart col-xs-12 col-md-6 col-lg-8">
          <p class="text-center"><%= "Crime Overview for #{@area.name.capitalize}" %></p>
          <p><%= "Crime Rating: #{@area.crime['crime_rating']}" %> <%= "Crime Rating: #{@area.crime['crime_rating']}" %></p><br>
          <p><%= "Number of crimes in last 12 months: #{@area.crime['crimes_last_12m']}" %></p><br>
          <p><%= "Number of crimes crimes per thousand: #{@area.crime['crimes_per_thousand']}" %></p>
        </div>
      </div>
   </div>

    <div class="container-fluid area-back my-3 ">
      <div class="row">
        <div class=" price-chart col-xs-12 col-md-6 col-lg-6">
        <p class="text-center"><%= "Crime Observations for #{@area.name.capitalize}" %></p>
        <ul>
        <% @area.crime["observations"].each do |ob| %>
        <li> <%= ob %></li>
        <% end %>
        </ul>
        </div>
      </div>
    </div>

    </div>
