    <div class="area-show-container">
      <div class="area-title">
    <%= render "shared/jump" %>
    <h2 id="crime">Crime</h2>
    <p></p>
  </div>
     <div class="container-fluid area-back my-3">
       <div class="row">
         <div class="price-chart col-xs-12 col-md-6 col-lg-8">
            <%= bar_chart @area.crime["types"], title: "Breakdown of crime by type",  xtitle: "per 1000 population", ytitle: "Type of Crime" %>

            <p class="text-center"><%="Crime Type Definitions" %> <%= link_to "" , "https://www.met.police.uk/sd/stats-and-data/met/crime-type-definitions/", target: "_blank", class: "fas fa-info-circle", data: { toggle: "tooltip"}, title: "Crime Type Definitions"  %></p>
         </div>
       </div>
     </div>



    <div class="container-fluid area-back my-3 ">
      <div class="row">
        <div class="text-center price-chart col-xs-12 col-md-6 col-lg-6">
          <h5 class="my-3" style="font-weight:bolder;"><%= "Crime Overview for #{@area.name.capitalize}" %></h5>
          <p><%= "Crime Rating: #{@area.crime['crime_rating']}" %> </p>
          <p><%= "Number of crimes in last 12 months: #{@area.crime['crimes_last_12m']}" %></p>
          <p><%= "Number of crimes crimes per thousand: #{@area.crime['crimes_per_thousand']}" %></p>
        </div>
      </div>
   </div>

    <div class="container-fluid area-back my-3 ">
      <div class="row">
        <div class=" text-center price-chart col-xs-12 col-md-6 col-lg-8">
          <h5 class="my-3" style="font-weight:bolder;"><%= "Crime Observations for #{@area.name.capitalize}" %></h5>
          <p><%= @area.crime["observations"][0] %></p>
          <p><%= @area.crime["observations"][1] %></p>
          <p><%= @area.crime["observations"][2] %></p>
        </div>
      </div>
    </div>
  </div>
