<div class="area-show-container">
  <div>
    <%= render "shared/jump" %>
  </div>
  <h2 id="demand">Demand</h2>

     <div class="container-fluid area-back">
       <div class="row">
         <div class="price-chart col-xs-12 col-md-6 col-lg-8">
          <p class="text-center"><%= "Purchase data for #{@area.name.capitalize}" %></p>
          <ul>
        <li> <%= "Purchase Rating: #{@area.demand["demand_rating"]}" %></li>
        <li> <%= "Number of days on market: #{@area.demand["days_on_market"]}" %></li>
        <li> <%= "Total number of properties for sale: #{@area.demand["total_for_sale"]}" %></li>
        <li> <%= "Property turnover per month: #{@area.demand["turnover_per_month"]}" %></li>
        <li> <%= "Average number of sales per month: #{@area.demand["average_sales_per_month"].to_i}" %></li>
        <li> <%= "Months of inventory: #{@area.demand["months_of_inventory"]}" %>
         </div>
       </div>
     </div>

</div>
