<div class="area-show-container container-fluid">
  <div class="container-fluid area-title">
    <%= render "shared/jump" %>
    <h2 id="demographics">Demographics</h2>
    <p></p>
  </div>

  <div class="container-fluid area-back my-3">
    <div class="row">
      <div class="price-chart col-xs-12 col-md-6 col-lg-8">
        <p><%#="Breakdown of population by age for #{@area.name.capitalize}" %></p>
        <%= column_chart @area.demographics["data"]["age"], title: "Breakdown of population by age",xtitle: "Age range", ytitle: "% of pop" %>
      </div>
    </div>
  </div>

  <div class="container-fluid area-back">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div>
          <%= pie_chart @area.demographics["data"]["politics"]["results"], title: "Political vote last election"%>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <%= pie_chart @area.demographics["data"]["social_grade"], title: "Social Grade breakdown"  %>
        <p class="text-center"><%="Social Grade Definitions" %> <%= link_to "" , "https://www.ukgeographics.co.uk/blog/social-grade-a-b-c1-c2-d-e", target: "_blank", class: "fas fa-info-circle", data: { toggle: "tooltip"}, title: "Social Grade Definitions"  %></p>
      </div>
    </div>
  </div>
</div>

