<div class="area-show-container container-fluid">
  <div class="container-fluid area-title">
    <%= render "shared/jump" %>
    <h2 id="demand">Demand</h2>
    <p></p>
  </div>

  <div class="container-fluid area-back my-3">
    <div class="row">
      <div class="price-chart col-xs-12 col-md-6 col-lg-8">
        <h5 class="text-center my-3" style="font-weight:bolder;"><%= "Purchase data for #{@area.name.capitalize}" %></h5>
          <div class="text-center">
            <p> <%= "Purchase Rating: #{@area.demand["demand_rating"]}" %></p>
            <p> <%= "Number of days on market: #{@area.demand["days_on_market"]}" %></p>
            <p> <%= "Total number of properties for sale: #{@area.demand["total_for_sale"]}" %></p>
            <p> <%= "Property turnover per month: #{@area.demand["turnover_per_month"]}" %></p>
            <p> <%= "Average number of sales per month: #{@area.demand["average_sales_per_month"].to_i}" %></p>
            <p> <%= "Months of inventory: #{@area.demand["months_of_inventory"]}" %></p>
          </div>
      </div>
    </div>
  </div>
</div>
