<div class="area-show-container">
      <h2> Price</h2>
    <p><%="Average  price last 5 years in #{@area.name.capitalize}" %></p>
    <%= line_chart @area["growth"]["data"],  xtitle: "Year", ytitle: "Price (£)" %>


 <p><%= "Property % price change last 5 years in #{@area.name.capitalize}" %></p>
<div class="my-3">
 <table>
  <thead>
    <tr>
      <th>Year</th>
      <th>% Change</th>
    </tr>
  </thead>
 <tbody>
    <% @area.growth["data"].each do |growth| %>
     <% if growth[2].nil? %>
     <td><%= "#{growth[0]}:"%></td>
     <td><%= "No Data"%></td>
       <% else %>
      <tr>
        <td><%= "#{growth[0]}:"%></td>
        <td><%= "#{growth[2]}" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>


</div>


