<h1><%= @area.name.upcase %></h1>


<div class="card-product">
  <img src="https://res.cloudinary.com/dstepunfe/image/upload/v1567510443/download_mccysd.jpg" />
  <div class="card-product-infos">
    <h2><%= @area.name.capitalize %> Details</h2>
    <p><%= @area.sold_price %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
  </div>
</div>
