<%= javascript_pack_tag "chart" %>


  <div class="area-banner" style="background-image: url(<%= image_path "shoreditch/boxpark.jpg" %>)">
    <div class="container">
      <h1 class="text-center"><%= @area.name.upcase %></h1>
    </div>
  </div>

<div class="container">


  <%= render "price" %>

  <%= render "crime" %>

  <%= render "school" %>

  <%= render "demographics" %>

</div>

