<%= javascript_pack_tag "chart" %>

<%# if @area.image.nil? %>
<%# @area.image =  image_path "shoreditch/cam.jpg"  %>
  <div class="area-banner" style="background-image: url(<%= @area.image ? image_path(@area.image) : asset_path("area_greenwich.jpg") %>)">
    <div class="container-fluid">
      <h1 class="text-center"><%= @area.name.upcase %></h1>
    </div>
  </div>

<div class="container-fluid">
 <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-8">

      <%= render "price" %>

      <%= render "demand" %>

      <%= render "crime" %>

      <%= render "school" %>

      <%= render "demographics" %>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">

    <%= render "house" %>

    </div>
 </div>
</div>

  <%#= render "price" %>

  <%#= render "crime" %>

  <%#= render "school" %>

  <%#= render "demographics" %>
