<h2>Log in</h2>

<div class="cards_login">
  <div class="card login radius-left">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false, :placeholder => 'Email' %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  label: false, :placeholder => 'Password' %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="card login radius-right">
    <div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "button"%>
      </div>
        <% end %>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
      <br />
    <div class="logo">
      <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568920331/assets/facebook_yvdlks.png") %>
      <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568920331/assets/instagram_b4pev2.png") %>
      <%= cl_image_tag("https://res.cloudinary.com/dehjzta08/image/upload/v1568920332/assets/gmail_ovvnvi.png") %>
      </div>
  </div>
</div>
