<div class="container">
  <%= simple_form_for(search) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs h5">
      <%= f.input :gross_annual, placeholder: "Your annual salary", id: "search_gross_annual" %>
    </div>
    <form>
<input type="button" Value="Calculate" id="multiply" />
</form><br>
<p>We estimate you can borrow £<span id = "result1"></span> - £<span id = "result2"></span><br>
</p>
    <%= f.button :submit, class: "btn-ghost" %>
  <% end %>
  <br>
</div>


