<div class="cards_login">
  <div class="house-title">
    <h2>Area Filter</h2>
  </div>
  <%= simple_form_for(search) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <br />
  <div class="form-inputs">
    <%= f.input :gross_annual, label: false, :placeholder => 'Your annual income' %>
  <br />
  </div>
  <div class="center">
    <button type="button" id="multiply">Calculate Your Loan</button>
  </div>
  <div id="after"></div>
  <br />
  <input type="hidden" id="max-mortgage" name="max-mortgage">
  <br />
  <div class="form-inputs">
    <%= f.input :distance_to_work, as: :integer, label: false, :placeholder => 'Distance from work in miles' %>
  </div>
  <br />
  <div class="form-inputs">
    <%= f.input :work_postcode, label: false, :placeholder => 'Postcode of your work'%>
  </div>
  <br />
  <div class="center">
    <%= f.button :submit, class: "button" %>
  </div>
  <% end %>
</div>



